body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
form {
    margin: 10px;
    padding: 10px;
    background: rgb(236, 233, 233);
    border: 1px solid rgb(172, 169, 169);
    border-radius: 10px;
    width: 100%;
}
form label, form input, form textarea {
    margin: 10px;
    height: 30px;
}
form input, form textarea{
    width: 90%;
}
form textarea {
    height: 100px;
}
form button {
    height: 40px;
    width: 100px;
    color: antiquewhite;
    background-color: rgb(87, 123, 111);
    border: 1px solid rgb(87, 123, 111);
    border-radius: 5px;
}
#enquiryForm {
    width: 70%;
    margin-bottom: -90px;
}