#headerLogo {
    display: flex;
    justify-content: center;
    height: 200px;
    align-items: center;
    width: 100%;
    padding: 20px;
}

#footerLogo {
    display: flex;
    justify-content: center;
    height: 200px;
    align-items: center;
    width: 100%;
    text-decoration: wavy;
    padding: 20px;
}